body {
    background-image: url('../assets/img/triathlonbike.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: 
        linear-gradient(to bottom, rgba(0,0,0,0.6) 40%, rgba(128,128,128,1) 100%),
        url('../assets/img/triathlonbike.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.common {
    /* background-color: #cccccc; */
    /* border: 2px solid white; */
    position: absolute;
    /* background-image: url('assets/img/triathlonbike.png'); */
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    text-align: center;
    background-color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;       /* removes underline */
    color: black;                /* choose any color */
    display: flex;               /* enables vertical + horizontal centering */
    justify-content: center;     /* centers items horizontally */
    align-items: center;         /* centers items vertically */
    gap: 30px;                   /* space between links */ 
    border: 5px solid white;
}

.header a {
    text-decoration: none;
    color: white;   /* optional */
    border: 5px solid white;
    padding: 5px;
}

.header a:hover {
    background-color: white;
    color: grey;
}


.leftmenu {
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: auto;
    padding: 10px;
    margin: 2px;
    margin-right: 20px;
}

.mainbody{
    background-image: url('assets/img/triathlonbike.png');
    top: 114px;
    left: auto;
    right: auto;
    bottom: auto;
    padding: 10px;
    align-items: center; 
}

.rightmenu {
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    overflow-wrap: break-word;
    word-break: break-word;
    padding-right: 5px;
}

.footer {
    bottom: 5px;
    right: 5px;
    left: 5px;
    height: 25px;
    position: fixed;
    padding-bottom: 5px;
    margin: 5px;
}

.nav {
    position: relative;
    background-color: antiquewhite;
    float: right;
}

ol {
    text-align: justify;
    color: white;
}

li {
    text-align: justify;
    color: white;
}

ul {
    text-align: justify;
    color: white;
}

.imgverticalstacking {
    width: 10%;
    display: block;
}

p {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}



/* img {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
} */

/* New rule for the container (optional, but good practice)
.gear-content-container {
    /* Clear the float so the content below the container doesn't wrap */
    overflow: auto; 
    padding: 10px; /* Add some space around the section}

/* Rule for the image */
/* .gear-image { */
    float: right; /* Pushes the image to the right */
    size: 500px;
    /* width: 80%;   Makes the image take up 40% of the container's width */
    /* max-width: 300px; Optional: Sets a maximum size so it doesn't get too big */
    height: auto; /* Ensures the image aspect ratio is maintained when scaling */
    margin: 0 0 10px 20px; /* Adds margin: top | right | bottom | left } */

/* Rule for the ordered list */
/* .gear-content-container ol { */
    /* Makes sure the list takes up the remaining space */
    width: 55%; 
    float: left; /* Optional, but helps define the flow */
    margin-top: 0; /* Adjusts list position if needed } */