body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif !important;
}

.customfont {
    font-family: Arial, Helvetica, sans-serif !important;
}

h2 {
    color: cadetblue;
}

h3 {
    color: cadetblue;
    background-color: antiquewhite;
}

.imagecustom {
    width: 40%;
    left: 0;
    right: 0;
    text-align: center;
}

.backgroundimage {
  width: 100%;
  height: 100vh; /* or 100vh for full screen */
  background-image: url('assets/img/ironmanlogo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}