body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: grey;
    }

li {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    }

.bold {
    font-weight: bold;
    }
li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    }

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px; 
    font-weight: bold;
    color: blueviolet;
    border: 5px solid red;
    margin: 10px;
    overflow-wrap: break-word;
    word-break: break-word;
    }

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    background-color: aquamarine;
    border: 5px solid blanchedalmond;
    margin: 50px;
    padding: 15px;
    }

img {
    background-color: aquamarine;
    border: 5px solid blanchedalmond;
    margin: 50px;
    padding: 15px;
    }

.examplecustomtag {
    font-family: fantasy;
    border: 2px dotted blueviolet;
    padding: 15px;
    margin: 30px;
    background-color: fuchsia;
    font-size: larger;
    font-weight: bold;
    text-decoration: line-through;
    color: aqua;
    }

a {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    }

a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: blueviolet;
    }

a:visited {
    color: red;
    }

body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARwAAACxCAMAAAAh3/JWAAAA81BMVEV0rN/////2tA75tw79/f/8ug7QhADCegDy7vDo397XiwD38/Lh0MfLo4fLn3zcycDBgjbMnGrGdwDh0s/Nl1T49/nKfwDLhQCpVgDkoA2zawvx6+nxrw7KpZC3f1a4bQDIiz3LkUiXSgvr39m4ZADYlQ3Uuam/dQDJlF3LnXPZkAC+k3q8iGHGj1XjmQDOrZm+hlPqoADBfBy/eR29eSu6cx7BhknOta6qXw6+gDuaUiCtcUfJrKOxZwDWvrLZycizgGOlTACvbz2hVAbPjR+2eD2+kG7Cfimvel63jHuQQg2+mYuiXB7FnICoZS3IhivUp3JevEXDAAAGZklEQVR4nO3ca3PaRhQG4ByDtZJsIZAsqVwUGccgUDBgYW6NDa5JSJPadf//r+lZQdq0M/VMv/S4w/vMWMPY+rC8s9rVro785g0AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPwbZfhHbwj+EcJ5AcJ5wesK5+REugV/8XrCuS8TxTF/cF3ppnzzKsI55R//hg+OQ9T8qbn/lbhXEc7bLoeTcs+pVDigHv+m+1a6TZp4OM2Au8mUyPRWRP0+Ue+MfztFz9EefKJywsNMLypTrUZUy3nYSbgbrTZN4baJh1PZ8sGpEq0ztwinFxJVeexZXb6TbptoOHritrytPvjUzBzq9aj88Yx8zyJSzrdTxIiG837AB9eelen8isysT2dntB6O6OqcO5LB1xsN3ku2T/ay+jTmscUdbqlrW6bdp3abrmzTsnn2qn7kv48/iTZPNpzyzYwnq0FmBUblxKvR+dIKa1QxTNpez6k8m5ZFmycXzqm+EQ7yzyZZwwrVPEtV6XO1a3QDTmlwPaCgmnNy9E5u2JELx1/wqEtmnpu0DM21MZqF1uTGMfzYWG/tLf9FmXzW5O5erImCl1XsPcdNakZR0zXGlOROGE+mtXCtJitjRlYUcXi+0Re8siTHHL9mZzFZobJmhuOE92o6md6oL+FTHlqWCjmbuT0TbJ9YOLsbPHN2/cR3NWr+zNE0NpuLi82ikf5s9H3Ps4Lu+XAZ/Hnyf08qnA8/OHrIoQHP45zOF5V+bXRax8etTuPrRP2ivHWcDMMRn2E5P3wQaqTYZWXVLvMuj7hjO3VdpX5ctI5LR6x03Fo8KnVbtfM5d61uflmzpNooOOY0ndC4cgM+3nxYqOOjPxyrxYfc4Ltnt2eEjuDqU/QmMBhFtnJuxypJvsuG02ncqSerouxodIBrq+bjqXXqunxVraphOnvY6CuqtLusio+LX9tpuCz2S8tub7mVyUio56wuvdDI7DZ/ff9K3XVKR6VWp9PiZPTxqNS5S8e389iJ437E195IZr6SG5Ata10xsuT57LdPF9xZ6lG9HnXqSh+581w8tNPMCLMsrPlSTRReeAajdpKmaYNHnHq6SXU6yULV9aijkvOR32yKbgYKhXPCX5v7ju+73ae3j4q7Siu6SLjzdNSFavGgozaDruue+nwSnyo0LMuEc7+4vORRx85sw/PSu0gPwq1O/aheL9X1mHNUiu5Sj4cl2w49PnUhs/iU6jknu57DU1Z3sFH7eYrzae3nLPX49qnr+ofYc/b4a/uj81Q1dnc5LdXp6GuquNPhoShpjwLJ5knu59T0XGRkafvhYnfvV6qz0u7z5tNvZ89JZlTW3HekmigTzruRe2VE/ZhvZOZ8g6zvc3TPyaIoK3oO3+eoMU/h7szm+dy7XIm0Uiick+2y5xa7WKtlmC5/Xez6S4ft+tDmYZaGVc7E5CnLOn2UmdHl11YV6ym82406rTAqOs5xkqjxraPXVqKDjmA4ZrEqL9PAyPercp6qWvtVeZXX4wFfe4e5Krf6l/mIV57z3K7eKvX4/X7Oj0q5bmqPD3U/Z78TGIfDJF4r9Yua6J1AfavT+JqqL8rzaTsc6zMPcCewWGYHy+H5bWB5qd83fk4bC72HvGmo+zCf63SermfmnycLkByQyzN7TsXTByvMn8IvajmdTDma2DGuiqcPsW0LrslFwylvda1A8XxqZqwmah3WppM4dPKExoarn2dRM372YrkWyoVzv5hwNqbKTRrY27URnxrOzcQKZyNjbYbL/RNPshaHuJ9zokeS4lm5fjBe84Ku0a1+pqqyvBpVhhaZn4tn5a5cBdwrqLKYX2/JNCpUC63lOadkVozAyrZ6TLo51CoLrajP+VilXX3Ola7P6e/qc7ZDvbt+yPU5RWWXb6xJV3aNhr6u7OpnJ7qyi2cync4BV3YVe1iO2tUEtj+WdU2gkzV3NYFbfTjgmkDtnd6P0NWkUY90NambrXfVpNSvSLdNOpzmZrWvQ877RThlHVJRh+w/CLdNPJyCrmCns96ugr3rmbsK9kC6Rvt1hKPffaCes3v3oZz6ePfhO/o2r3hZRr81Qzc+4a2Zvyresiret5IrkPy7VxNOAW/q/X8gnBcgnBfgPxK8QPq/RQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/M/8Di0J3JJ/tv0vAAAAAElFTkSuQmCC);
    }

ol {
    text-align: right;
    }

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    background-color: aquamarine;
    border: 5px solid blanchedalmond;
    margin: 50px;
    padding: 15px;
    }

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    background-color: aquamarine;
    border: 5px solid blanchedalmond;
    margin: 10px;
    padding: 15px;
    }